<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}"></title>
    <link th:href="@{css/bootsrap.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <!--header-->
    <div th:replace="fragments/header :: header"></div>
    <div style="padding:60px 20px"></div>
    <div class="container">
        <h3 th:utext="${title}"></h3>
        <div class="page-header">
            
        </div>
    </div>
</body>
</html>